<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.ian.junemon.foodiepedia">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:name="com.ian.junemon.foodiepedia.FoodApp"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.ian.junemon.foodiepedia.ui.activity.splash.SplashActivity"
                  android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ian.junemon.foodiepedia.ui.activity.MainActivity"
                  android:theme="@style/FullScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.ian.junemon.foodiepedia.ui.activity.detail.DetailFoodActivity"
                  android:theme="@style/FullScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.ian.junemon.foodiepedia.ui.activity.discover.DiscoverActivity"
                  android:theme="@style/FullScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.ian.junemon.foodiepedia.ui.activity.detailinformation.DetailInformationActivity"
                  android:theme="@style/FullScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.ian.junemon.foodiepedia.ui.activity.filter.FilterActivity"
                  android:theme="@style/FullScreen"
                  android:screenOrientation="portrait"/>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobAppID"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"/>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>